<div class = "container">
	<div class="wrapper">
		<form name="Login_Form" (ngSubmit)="login()" class="form-signin" novalidate>       
		    <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
			  <hr class="colorgraph"><br>
			  
			  <input type="text" class="form-control" name="Username" placeholder="Email" required autofocus [(ngModel)]="user.email" />
			  <input type="password" class="form-control" name="Password" placeholder="Password" required [(ngModel)]="user.password" />     		  
			 
			  <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
		</form>			
	</div>
</div>